*:host {
  max-width: 425px;
  min-width: 320px;
  width: clamp(320px, 50%, 425px);
}

.quiz__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  p {
    font-size: 20px;
  }
  .quiz__title {
    font-size: 28px;
    color: #04befe;
  }
}

:where(.quiz__list) p,
.quiz__item {
  margin-bottom: 10px;
}

.quiz__list {
}
.quiz__item {
  font-size: 20px;
}
.quiz__btn {
}
.btn {
}
